body {
  background-color: #e7eade;
}
.container {
  width: 80%;
  margin: auto;
  background: white;
}
header {
  display: flex;
  justify-content: space-between;
}

.apple_img img {
  height: 220px;
}

.header_title {
  margin: 20px;
}

nav {
  background-color: #7ad800;
  height: 25px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 3px 5px 0 grey;
}

.links {
  width: 100%;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
}
.links:last-child {
  border: none;
}
section {
  display: flex;
  margin: 20px 0;
  margin: 0;
}

.vertical_title {
  margin: 30px 20px;
}

.title_div {
  border-bottom: 1px solid #8ed236;
  height: 30px;
}
h1,
h2 {
  color: #8ed236;
  height: 30px;
}
h1 img {
  width: 30px;
}

h2 {
  border-left: 5px solid #8ed236;
  padding-left: 5px;
}

p {
  text-align: justify;
  margin: 20px 10px 0 0;
}

p::first-letter {
  margin-left: 30px;
}

span {
  background-color: yellow;
}

.flex {
  margin-left: 100px;
}

#noLeft::first-letter {
  margin: 0;
}

footer p {
  text-align: right;
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #8ed236;
  font-weight: bold;
}
